
<button (click)="add()">Add</button>
<button (click)="update()">Update</button>
<button (click)="remove()">Remove</button>
<ul>
  <!-- <li *ngFor="let c of cuisines$ | async">{{ c.payload.val().name }}</li> -->
  <li *ngFor="let c of cuisines$ | async">{{ c.payload.val() }}</li>
</ul>

{{ (restaurant$ | async)?.name }}

<h1>Cuisines</h1>
<ul>
  <li *ngFor="let c of cuisines$ | async">
    {{ c.key + '-' + c.payload.val() }}
  </li>
</ul>

<h1>Restaurants</h1>
<ul>
  <li *ngFor="let r of restaurants$ | async">
    {{ r.name }} -  {{ r.cuisineType | async }}
  </li>
</ul>
